html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 0px;
    margin-bottom: 100px;
    font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
    font-size: 16px;
    background: url('../img/tile.jpg') top left repeat;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 18px;
    z-index: 99;
    font-size: 24px;
    padding: 4px 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.navbar {
    padding: 0;
    display: block;
}

sup {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smooting: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    margin: 0 0 15px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: normal;
}

a:hover {
    text-decoration: none;
    color: #c9302c;
}

button,
input,
.btn,
a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #fff;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

.btn-light {
    color: #000000 !important;
}

.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

.btn-success {
    background-color: #79b044;
    border: none;
}

.btn-success:hover {
    background: #6a9b3d;
    border-color: #6a9b3d;
}

img {
    max-width: 100%;
}

input {
    font-size: 1rem !important;
}

section {
    padding: 40px 0;
}

.section h2 {
    margin: 20px 0 40px;
}

.section h3 {
    margin: 30px 0 10px;
}

blockquote {
    margin-top: 25px;
    font-style: italic !important;
    font-size: 1.2rem !important;
    text-align: left !important;
}

blockquote:before {
    display: none;
}

#hero {
    background: url("../img/server.jpeg") 50% no-repeat fixed;
    background-size: cover;
    min-height: 425px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#hero .row h1 {
    margin-bottom: 20px;
}

#optin {
    background: #3e4249;
    padding: 20px 0;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
}

#optin p {
    margin: 7px 0 0 0;
}

#project-features .row p,
#project-features p.lead {
    text-align: justify !important;
}

#developers {
    background: #ffffff;
}

#developers blockquote {
    text-align: justify !important;
}

#developers blockquote cite {
    font-weight: bold;
}

#social-items {
    text-align: left;
}

.badge.social {
    background: #ccc;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.github:hover {
    background: #6e5494;
}

.badge.social.linkedin:hover {
    background: #0077B5;
}

.testimonial {
    margin-bottom: 60px;
}

.testimonial img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#about .card p.card-text {
    text-align: justify;
}

footer {
    background: #3e4249;
    color: white;
    padding: 25px 0;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer ul,
footer p {
    margin: 0 !important;
}

footer a:link,
footer a:visited {
    color: #fff;
}

footer a:hover {
    color: #dd5638;
}

footer li.signup-link a {
    color: #dd5638;
}

footer li.signup-link a:hover {
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    #developers img {
        width: 50%;
    }
    #social-items {
        text-align: center;
    }
    footer {
        text-align: center;
        padding: 20px 0;
        font-size: 14px;
        height: 120px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 50%;
    }
    #optin p {
        margin: 0 0 10px;
    }
    body {
        margin-bottom: 140px;
    }
    footer {
        text-align: center;
        padding: 20px 0;
        font-size: 14px;
        height: 160px;
        line-height: 30px;
    }
    #developers img {
        width: 50%;
    }
    #social-items {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 50%;
    }
    #optin p {
        margin: 0 0 10px;
    }
    body {
        margin-bottom: 120px;
    }
    footer {
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        height: 150px;
        line-height: 30px;
    }
    #developers img {
        width: 50%;
    }
    #social-items {
        text-align: center;
    }
}